:root {
    --numbersMargin: 14px;
    --myMarginBottom: 4px;
    --myBorderWidth: 1px;
    --myBorderRadius: 3px;
    --myBorderColor: black;
    --myFontSize: 18px;
    --myBlueColor: dodgerblue;
    --myTransition200: 200ms;
}

body {
    padding: 0px;
    margin: 0px;
}

input {
    padding: 0px;
    margin: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.textbox {
    width: 188px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: var(--myMarginBottom);
    font-size: var(--myFontSize);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    border-color: var(--myBorderColor);
}

.radiobutton {
    vertical-align: middle;
    margin: 0px;
    margin-left: 8px;
}

.radiobutton:hover+label {
    color: var(--myBlueColor);
    transition: var(--myTransition200);
}

.radiobuttonText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
    vertical-align: bottom;
}

#radiobuttonText {
    margin-left: 8px;
}

.button {
    width: 32px;
    height: 32px;
    font-size: var(--myFontSize);
    font-family: Arial, Helvetica, sans-serif;
    -moz-font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: var(--myMarginBottom);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    border-color: var(--myBorderColor);
    border-style: solid;
    -moz-border-color: var(--myBorderColor);
    text-align: center;
    -webkit-border-radius: var(--myBorderRadius);
    color: black;
    -webkit-color: black;
}

.button:hover {
    background-color: var(--myBlueColor);
    color: white;
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    border-color: var(--myBorderColor);
    transition: var(--myTransition200);
}

#button0 {
    width: 68px;
}

#buttonEval {
    width: 104px;
}

#button9 {
    margin-right: var(--numbersMargin);
}

#button6 {
    margin-right: var(--numbersMargin);
}

#button3 {
    margin-right: var(--numbersMargin);
}

#buttonDot {
    margin-right: var(--numbersMargin);
}

#button7 {
    margin-left: 8px;
}

#button4 {
    margin-left: 8px;
}

#button1 {
    margin-left: 8px;
}

#button0 {
    margin-left: 8px;
}

#buttonBackspace {
    margin-top: 8px;
}

#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px 0 2px 8px;
    background: var(--myBlueColor);
    color: white;
    width: 100%;
    height: 15px;
}

@media screen and (max-width: 1080px) {
    .textbox {
        width: 80%;
        height: 30px;
        padding: 0px;
        margin: 0px;
        margin-left: 8px;
        margin-top: 8px;
        margin-bottom: var(--myMarginBottom);
        font-size: var(--myFontSize);
        border-width: var(--myBorderWidth);
        border-radius: var(--myBorderRadius);
        border-color: var(--myBorderColor);
    }
    .button {
        width: 14%;
        height: 28%;
        font-size: var(--myFontSize);
        padding: 0px;
        margin: 0px;
        margin-bottom: var(--myMarginBottom);
        border-width: var(--myBorderWidth);
        border-radius: var(--myBorderRadius);
        border-color: var(--myBorderColor);
        border-style: solid;
        -moz-border-color: var(--myBorderColor);
        text-align: center;
        -webkit-border-radius: var(--myBorderRadius);
        color: black;
        -webkit-color: black;
    }
    #footer {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 4px 0 2px 8px;
        background: var(--myBlueColor);
        color: white;
        width: 100%;
        height: 10%;
    }
}