:root {
    --numbersMargin: 14px;
    --myMarginBottom: 4px;
    --myBorderWidth: 1px;
    --myBorderRadius: 3px;
    --myBorderColor: black;
    --myFontSize: 18px;
}

.textbox {
    width: 184px;
    height: 28px;
    margin-bottom: var(--myMarginBottom);
    font-size: var(--myFontSize);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    border-color: var(--myBorderColor);
}

.button {
    width: 32px;
    height: 32px;
    font-size: var(--myFontSize);
    margin-bottom: var(--myMarginBottom);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    border-color: var(--myBorderColor);
    text-align: center;
}

.button:hover {
    background-color: dodgerblue;
    color: white;
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    border-color: var(--myBorderColor);
    transition: all 200ms ease;
}

#button0 {
    width: 68px;
}

#buttonEval {
    width: 104px;
}

#button9 {
    margin-right: var(--numbersMargin);
}

#button6 {
    margin-right: var(--numbersMargin);
}

#button3 {
    margin-right: var(--numbersMargin);
}

#buttonDot {
    margin-right: var(--numbersMargin);
}